html {
  background-color: #222;
}

.blog{
  background-color: white;
  padding: 15px;
  font-size: 25px;
  font-family: sans-serif;
  background-position: 0px;
}

.img-btn{
  border-radius: 15px;
}

.post-btn{
  padding: 7px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  left: 400px;
}

.commit-img{
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  left: 400px;
  background-color: white;
  padding: 7px;
}

.comment{
  position: relative;
  left: 400px;
  color: black;
  background-color: aliceblue;
  width: 500px;
}

.body-comment{
  color: #222;
  background-color: rgb(121, 113, 113);
  height: 40px;
}